<app-cabecera></app-cabecera>

<div class="contenMas">
    
<div class="manejo">
    <div *ngIf="error" class="error"> {{mensaje}}</div>
    <div class="loader" *ngIf="cargando"></div>
</div> 



<div class="contenedor" *ngIf="! cargando">
    <h2>Episode {{indice}} List of: {{pelicula.title}}</h2>
    <div class="nose">
        <div class="conten-act" *ngFor="let actor of actores"> 

            <ul >
    
                <li>{{actor.name}}</li>
            
                
            </ul> 
        </div>

    </div>


    
</div>


</div>
