.contenedor{
    min-width: 225px;
    margin: 0 auto;
    background-color: white;
    width: 50%;
    padding-bottom: 20px;

    h2{
        margin: 20px;
        padding-top: 20px;
        font-weight: bold;
    }
    .nose{
        columns: 2;
       

            ul{
                overflow-wrap: break-word;
                
                margin: 20px;
               
                list-style:inside;
                padding-bottom: 5px;
                li{
                    padding-right:5px ;
                }
            
            }
        

    }




}
