.contenedor{
    margin: 0 auto;
    background-color: white;
    width: 50%;
    padding-bottom: 20px;

    h2{
        margin: 20px;
        padding-top: 20px;
        font-weight: bold;
    }
    .nose{
        columns: 4;
       

            ul{
                
                margin: 20px;
                list-style:inside;
                padding-bottom: 5px;
            
            }
        

    }




}
